#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  align-items: center;
}

.app-bar-container {
  display: flex;
  justify-content: space-between;
}

.toolbar {
  flex: 1;
}

nav {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: grey;
}

nav a:focus {
  color: orange;
}
